*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, html{
    height: 100%;
    width: 100%;
    background-color: red;
}
html{
 padding: 2vw;   
}
#header{
    display:grid;
    grid-template-columns: 33% 33% 33%;
    height: 20vw;
    background-color: wheat;
    border: solid 1.3vw orange;
    margin-bottom: 2vw;
}
.logo{
    height: 15vw;
    margin: auto;
}
h1{
    padding: 15%;
    font-size: 5vw;
    color: red;
    text-decoration: underline;
    text-shadow: 1.9px 1.8px rgb(0, 34, 254)
}
nav{
    width: 100%;
    height: 6vw;
    font-size: 1.2vw;
    text-align: center;
}
main{
    width: 100%;
    background-color: wheat;
    padding: 2vw;
    border: solid 1.3vw orange;
}
#cardList{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.card{
    margin-top: 2vw;
    background-color: rgb(255, 255, 255);
    height: 34vw;
    width: 20vw;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    padding: 1vw;
    border-radius: 5%;
    border: solid 0.5vw rgb(88, 88, 88);
}
.card:hover{
    border-color:yellow;
}
.characterImage{
    height: 17vw;
    width: 17vw;
    margin: 0 auto;
}
.characterInfo{
    height: 17vw;
    width: 17vw;
    text-align: center;
    background-color: rgb(255, 255, 255);
    padding: 1vw;
    padding-top: 1vw;
    border-top: solid 0.5vw rgb(88, 88, 88);
}
.name{
    font-weight: bold;
    font-size: 1.5vw;
}
.type{
    font-weight: bold;
    font-size: 1.3vw;
    border: solid 0.1vw black;
    border-radius: 40%;
    padding: 0.2vw;
    margin-top: 3vw;
    
}
.types{
    display: flex;
    justify-content: center;
}
.ID, .type, .description{
    font-size: 1.3vw;
    margin: 0.5vw;
}
.divImages{
    display: flex;
    justify-content:space-evenly;
    flex-wrap: wrap;
}
.evolucoes{
    display: flex;
    border: solid 0.5vw;
    background-color: white;
}
.descriptionPokemon{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    max-height: 100%;
    max-width: 100%;
    background-color: red;
    padding: 1.5vw;
}
.descriptionPokemon2{
    background-color: orange;
    height: 100%;
    width: 100%;
    border-radius: 9%;
    padding: 1.5vw;
}
.descriptionPokemon1{
    background-color: wheat;
    height: 100%;
    width: 100%;
    border-radius: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.showDescription, .closeDescription{
    padding: 0.1vw;
    margin: 0.7vw;
    font-size: 1.1vw;
    font-weight: bold;
    background-color: rgb(207, 255, 136);
    border: solid 0.2vw rgb(0, 0, 0);
    width: 11vw;
}
.closeDescription{
    margin-left: 85%;
}
.showDescription:hover, .closeDescription:hover{
    background-color: blue;
    color: yellow;
}
.description_class_stats{
    display: flex;
    justify-content:space-evenly;
    flex-wrap: wrap;
}
.descriptionPage{
    font-size: 1.3vw;
    margin: 2vw;
}
.stats{
    font-weight: bold;
    font-size: 1.3vw;
    text-align: left;
    border: solid 0.2vw;
    padding: 0.5vw;
    background-color: yellowgreen;
}
.stats p::first-letter{
    text-transform: uppercase;
}
.typePage{
    font-size: 1.3vw;
    font-weight: bold;
    margin: 1.5vw;
}
.typePage,.type{
    background-color: aqua;
    width: 8vw;
    /* margin: auto; */
}
#final{
    width: 100%;
    height: 3vw;
}
footer{
    border: solid 1.3vw orange;
    height: 16vw;
    background-color: wheat;
    border-radius: 5%;
    padding: 2vw;
    text-align: center;
    font-size: 1.2vw;
}
#pageButtons{
    display:flex;
    justify-content: space-evenly;
    margin: 0 3vw 4vw 3vw;
}
.pageBtn{
    width: 3vw;
    height: 3vw;
    font-size: 2vw;
    background-color: orange;
    color: black;
    font-weight: bold;
    border-radius: 50%;
}
.pageBtn:hover{
    background-color: blue;
    color: yellow;
}
